USE [master]
GO
/****** Object:  Database [Scada]    Script Date: 2026-04-15 16:04:46 ******/
CREATE DATABASE [Scada]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'scada', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Scada.mdf' , SIZE = 30336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'scada_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Scada_0.LDF' , SIZE = 241216KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Scada].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Scada]
GO
/****** Object:  Table [dbo].[AdamChannels]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdamChannels](
	[tagID] [int] NULL,
	[adress] [int] NULL,
	[channel] [int] NULL,
	[k] [float] NULL,
	[m] [float] NULL,
 CONSTRAINT [UC_adam] UNIQUE NONCLUSTERED 
(
	[tagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alarms]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alarms](
	[tagID] [int] NULL,
	[PV] [float] NULL,
	[HL] [float] NULL,
	[LL] [float] NULL,
	[Confirmed] [datetime] NULL,
	[Deleted] [datetime] NULL,
	[alarmtime] [datetime] NULL,
	[description] [varchar](max) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChannelData]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChannelData](
	[tagID] [int] NOT NULL,
	[Time] [datetime] NOT NULL,
	[Value] [float] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[tagID] ASC,
	[Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChartSettings]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChartSettings](
	[Span] [int] NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[Week] [int] NULL,
	[Day] [int] NULL,
	[Hour] [int] NULL,
	[Minute] [int] NULL,
	[ItemID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChartTimeSpans]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChartTimeSpans](
	[Description] [nvarchar](max) NULL,
	[TagSequence] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cmdDefinitions]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cmdDefinitions](
	[cmdType] [int] NULL,
	[cmdDesc] [varchar](max) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cmdQueue]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cmdQueue](
	[cmdType] [int] NULL,
	[cmdString] [varchar](max) NULL,
	[sender] [int] NULL,
	[receiver] [int] NULL,
	[received] [datetime] NULL,
	[transmitted] [datetime] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[page] [int] NULL,
	[itemtype] [int] NULL,
	[posLeft] [float] NULL,
	[posTop] [float] NULL,
	[posWidth] [float] NULL,
	[posHeight] [float] NULL,
	[nextpage] [int] NULL,
	[action] [varchar](max) NULL,
	[tagID] [int] NULL,
	[text] [nvarchar](max) NULL,
	[created] [timestamp] NULL,
	[radius] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemSizes]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemSizes](
	[ItemType] [int] NULL,
	[Width] [float] NULL,
	[Height] [float] NULL,
	[nSize] [int] NULL,
	[sDescription] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemTags]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTags](
	[TagID] [int] NULL,
	[UxDescription] [nvarchar](max) NULL,
	[TagSequence] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[ItemType] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC,
	[TagSequence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemTypes]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTypes](
	[ItemType] [int] NULL,
	[Description] [nvarchar](25) NULL,
	[defaultWidth] [float] NULL,
	[defaultHeight] [float] NULL,
	[Digital] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languagues]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languagues](
	[Languague] [int] NULL,
	[Country] [nvarchar](max) NULL,
	[Flag] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LanguagueTexts]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguagueTexts](
	[Languague] [int] NOT NULL,
	[Tag] [int] NOT NULL,
	[sText] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Layouts]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Layouts](
	[nLayout] [int] NOT NULL,
	[ItemType] [int] NOT NULL,
	[Left] [float] NOT NULL,
	[Top] [float] NOT NULL,
	[Width] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Library]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Library](
	[type] [int] NULL,
	[name] [nvarchar](max) NOT NULL,
	[base64] [varchar](max) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parameters]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parameters](
	[Name] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[Type] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 2026-04-15 16:04:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[tagID] [int] IDENTITY(1,1) NOT NULL,
	[driver] [int] NULL,
	[tagname] [varchar](30) NULL,
	[Value] [float] NULL,
	[HL] [float] NULL,
	[LL] [float] NULL,
	[unit] [varchar](10) NULL,
	[description] [varchar](50) NULL,
	[color] [varchar](25) NULL,
	[TypeOfTag] [int] NULL,
	[AlarmEnable] [int] NULL,
	[ValueTime] [datetime] NULL,
	[StoreIntervalSec] [int] NULL,
	[StatusQuality] [int] NULL,
	[Created] [timestamp] NOT NULL,
 CONSTRAINT [UC_tags] UNIQUE NONCLUSTERED 
(
	[tagname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_alarmtime]    Script Date: 2026-04-15 16:04:46 ******/
CREATE NONCLUSTERED INDEX [idx_alarmtime] ON [dbo].[Alarms]
(
	[alarmtime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_picture]    Script Date: 2026-04-15 16:04:46 ******/
CREATE NONCLUSTERED INDEX [idx_picture] ON [dbo].[Items]
(
	[page] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
